@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffbeb;
  color: #451a03;
}
.perspective { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }